.sch-tt {
  padding: 4rem 0;
  padding-bottom: 10rem;

  &__title {
    @include tablet {
      margin-bottom: 4rem;
    }

    @include mobile {
      display: none;
    }
  }

  &__block {
    overflow: hidden;
  }

  &__body {
    @include mobile {
      border-radius: 0;
      padding: 0;
      background: none;
    }
  }

  &__row {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.2rem;

    @include tablet {
      display: flex;
      justify-content: space-between;
    }

    @include mobile {
      flex-wrap: wrap;
      background-color: #fff;
      border-radius: 2rem;
      padding: 2rem;
      overflow: hidden;
    }


    &:first-child {
      margin-bottom: 6rem;

      @include mobile {
        display: none;
      }
    }

    &:not(:last-child) {
      margin-bottom: 4rem;

      @include mobile {
        margin-bottom: 5rem;
      }
    }
  }

  &__item {
    &--head {
      font-weight: 600 !important;

      @include mobile {
        padding: 0 !important;
      }
    }


    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {
      @include mobile {
        min-width: 100%;
        flex: 1;
        flex-shrink: 0;
      }
    }

  }

  &__wrapper {
    padding: 2px;
    background: var(--grad);
    border-radius: 8rem;

    @include tablet {
      flex: 1;
      border-radius: 4rem;
    }
  }
}

.sch-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .6rem;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
  color: #000;
  background: linear-gradient(to right, #e6f9fe, #e7f1fe, #e7eafe);
  padding: 2.3rem;
  border-radius: 8rem;
  position: relative;
  height: 100%;

  @include tablet {
    padding: 1.4rem;
    font-size: 1.4rem;
    max-width: 20.7rem;
    flex: 1;
  }

  @include mobile {
    font-size: 1.2rem;

    &:not(.sch-item--oth) {
      padding-top: 5.2rem;
      border-radius: 2rem;
    }
  }




  &__head {
    display: none;

    @include mobile {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 4rem;
    }
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    font-weight: 600;
    color: #fff;
    background: var(--grad);


  }

  &__more {
    text-decoration: underline;

    @include mobile {
      order: 10;
      text-decoration: auto;
      text-transform: uppercase;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        aspect-ratio: 1 / 1;

        background-color: #000;
        border-radius: 100%;

        background-image: url('./../img/arrow-down-right.svg'), linear-gradient(90deg, #06c7f4 0%, #0b7bf3 50%, #1029f5 100%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 2rem, cover;

        transition: .3s ease-out;

        @include mobile {
          background-size: 1.4rem, cover;
        }
      }

    }
  }

  &__more,
  &__btn {
    @include mobile {
      padding: 2.3rem;
    }
  }

  @include hover {
    .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}


.tooltip {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-out;
  width: 90rem;
  z-index: 15;
  border-radius: 8rem;
  padding: 2px;

  background: var(--grad);

  @include tablet {
    padding: 2px;
    border-radius: 4rem;
    width: 64rem;
  }

  @include mobile {
    width: 100%;
    border-radius: 2rem;
  }

  &__arrow {
    position: absolute;
    z-index: -1;
    right: 25%;
    top: 0rem;
    padding: 2px;
    background: var(--grad);
    width: 4rem;
    height: 4rem;
    transform: rotate(45deg) translateY(-50%);

    &-inside {
      width: 100%;
      height: 100%;
      background-color: #fff;
    }

    @include tablet {
      border-width: 2rem;
    }
  }

  &__desc {
    text-transform: initial;

    @include tablet {
      font-size: 1.5rem;
    }

    @include mobile {
      font-size: 1rem;
    }
  }

  &__wrapper {
    padding: 6rem;
    background-color: #fff;
    border-radius: 8rem;

    @include tablet {
      padding: 2rem;
      border-radius: 4rem;
    }

    @include mobile {
      border-radius: 2rem;
    }
  }



  &--top {
    .tooltip__arrow {
      top: unset;
      bottom: 0rem;
      transform: rotate(45deg) translateY(50%);

      @include tablet {
        bottom: 0;
      }
    }
  }
}