<section class="cta">
  <div class="container">
    <div class="cta__container">
      <div class="body cta__body">
        <h2 class="title2 cta__title">Присоединяйтесь к 2-A ONLINE</h2>

        <div class="cta__content">
          <p class="cta__subtitle">
            Преобразите свое мышление, измените свою жизнь
          </p>
          <p class="desc3 cta__desc">
            Осознанная работа с подсознанием для достижения значительных
            изменений
          </p>
        </div>

        <a href="#" class="cta__btn btn1 btn-reset">ПРИСОЕДЕНИТЬСЯ </a>
      </div>

      <div class="cta__img">
        <img src="./img/cta/01.webp" alt="" />
      </div>
    </div>
  </div>
</section>
