<section class="why why--echange">
  <div class="container">
    <div class="why__container why__container--reverse">
      <div class="body why__body">
        <h2 class="title2 why__title">
          Что изменится в вашей жизни после эфиров?
        </h2>

        <div class="why__items">
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/01.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Профессиональный рост:
              </div>
              <p class="desc3 w-item__desc">
                Вы сможете постоянно улучшать свои навыки и знания, что
                способствует карьерному росту.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/02.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Личное удовлетворение:
              </div>
              <p class="desc3 w-item__desc">
                Вы сможете чувствовать себя более уверенными и довольными своей
                жизнью.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/03.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Улучшение отношений:
              </div>
              <p class="desc3 w-item__desc">
                Вы научитесь лучше понимать и взаимодействовать с окружающими.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/04.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Устойчивость к стрессу:
              </div>
              <p class="desc3 w-item__desc">
                Узнаете методы управления стрессом, что важно в современном
                быстром темпе жизни.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">Личное развитие:</div>
              <p class="desc3 w-item__desc">
                Вы узнаете как достигать личных целей и амбиций.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">Смысл и цель:</div>
              <p class="desc3 w-item__desc">
                Вы увидите более глубокий смысл и цель в своей жизни.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">Смысл и цель:</div>
              <p class="desc3 w-item__desc">
                Вы увидите более глубокий смысл и цель в своей жизни.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Улучшение самооценки:
              </div>
              <p class="desc3 w-item__desc">
                Вы станете чувствовать себя более уверенно и успешно.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Личная ответственность:
              </div>
              <p class="desc3 w-item__desc">
                Вы поймете, что сами отвечаете за свои действия и решения.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Умение справляться с неудачами:
              </div>
              <p class="desc3 w-item__desc">
                Вы научитесь извлекать уроки из неудач и двигаться дальше.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Устойчивость к переменам:
              </div>
              <p class="desc3 w-item__desc">
                Вы станете более гибкими и способными адаптироваться к переменам
                в жизни и на работе.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Финансовая стабильность:
              </div>
              <p class="desc3 w-item__desc">
                Ответственные люди часто лучше управляют своими финансами и
                достигают финансовой стабильности.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Гармония в жизни:
              </div>
              <p class="desc3 w-item__desc">
                Вы наверняка сможете достичь баланса между работой, личной
                жизнью и хобби.
              </p>
            </div>
          </div>
        </div>

        <a href="#" class="why__btn btn2 btn-reset modal-btn"
          >ЗАПИСАТЬСЯ НА ЭФИР</a
        >
      </div>

      <div class="why__right">
        <div class="why__img">
          <img src="./img/why/07.webp" alt="" />
        </div>
        <div class="why__img">
          <img src="./img/why/08.webp" alt="" />
        </div>
        <div class="why__img">
          <img src="./img/why/09.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
