<section class="cta cta--efiri">
  <div class="container">
    <div class="cta__container">
      <div class="body cta__body">
        <h2 class="title2 cta__title">Готовы изменить свою жизнь ?</h2>

        <div class="cta__content">
          <p class="cta__subtitle">
            Мы понимаем ваши сомнения и готовы помочь вам сделать первый шаг к
            личностному росту и саморазвитию. Наши бесплатные эфиры предлагают
            ценные знания и поддержку, которые помогут вам раскрыть свой
            потенциал и достичь новых высот.
          </p>
          <p class="desc3 cta__desc">
            Присоединяйтесь к нам, и мы вместе сделаем вашу жизнь лучше!
          </p>
        </div>

        <a href="#" class="cta__btn btn1 btn-reset">ЗАПИСАТЬСЯ НА ЭФИР </a>
      </div>

      <div class="cta__img">
        <img src="./img/cta/02.webp" alt="" />
      </div>
    </div>
  </div>
</section>
