<section class="hero">
  <div class="container">
    <div class="hero__container">
      @include('header.html')

      <div class="hero__row">
        <div class="hero__content">
          <h1 class="title1 hero__title">Бесплатные<br />онлайн эфиры</h1>
          <div class="hero__cover">
            <img src="./img/cover.webp" alt="" />
          </div>
          <p class="hero__subtitle subtitle1">
            Каждый вторник и четверг в 20:00 по МСК
          </p>
          <p class="hero__desc desc1">
            Откройте для себя силу знаний и измените свою жизнь к лучшему через
            наши эфиры
          </p>
          <a href="#" class="btn1 btn-reset hero__btn"> УЗНАТЬ ПОДРОБНЕЕ </a>
        </div>

        <div class="hero__elems">
          <div class="hero__text">
            <span>2-A</span>
            <span>Online</span>
          </div>

          <div class="hero__item hero__item--mozg">
            <img src="./img/elems/mozg.webp" alt="" />
          </div>
          <div class="hero__item hero__item--el1">
            <img src="./img/elems/01.svg" alt="" />
          </div>
          <div class="hero__item hero__item--el2">
            <img src="./img/elems/02.svg" alt="" />
          </div>
          <div class="hero__item hero__item--el3">
            <img src="./img/elems/03.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
