<section class="why why--efiri">
  <div class="container">
    <div class="why__container">
      <div class="body why__body">
        <h2 class="title2 why__title">
          Причины, почему полезные знания могут быть бесплатными:
        </h2>

        <div class="why__items">
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/01.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Доступность для всех:
              </div>
              <p class="desc3 w-item__desc">
                Мы искренне верим, что важные знания должны быть доступны
                каждому, независимо от финансового положения. Бесплатные
                материалы позволяют людям из разных социальных групп получить
                доступ к ценным ресурсам и начать свой путь к личностному росту.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/02.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Образовательные инициативы:
              </div>
              <p class="desc3 w-item__desc">
                Множество образовательных платформ и организаций предлагают
                бесплатные курсы и материалы в рамках своей миссии по
                распространению знаний. Наши бесплатные программы основаны на
                лучших практиках и опыте ведущих экспертов в области психологии
                и саморазвития.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/03.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Интернет и цифровые технологии:
              </div>
              <p class="desc3 w-item__desc">
                Век технологий открыл безграничные возможности для обучения. Мы
                создали удобные онлайн-эфиры и программы, чтобы вы могли учиться
                в любое время и в любом месте.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/04.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Волонтерство и энтузиазм:
              </div>
              <p class="desc3 w-item__desc">
                Множество людей делятся своими знаниями и опытом бесплатно,
                стремясь помочь другим. Наши эксперты работают на добровольной
                основе, чтобы вы могли получить ценные знания и советы.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Маркетинговые стратегии:
              </div>
              <p class="desc3 w-item__desc">
                Мы понимаем, что доверие нужно заслужить. Поэтому предлагаем
                бесплатные эфиры и материалы, чтобы вы могли оценить качество
                наших программ без каких-либо обязательств.
              </p>
            </div>
          </div>
        </div>

        <a href="#" class="why__btn btn2 btn-reset modal-btn"
          >ЗАПИСАТЬСЯ НА ЭФИР</a
        >
      </div>

      <div class="why__right">
        <div class="why__img">
          <img src="./img/why/03.webp" alt="" />
        </div>
        <div class="why__img">
          <img src="./img/why/04.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
