<section class="why why--efiri">
  <div class="container">
    <div class="why__container why__container--reverse">
      <div class="body why__body">
        <h2 class="title2 why__title">
          Почему вам стоит доверять нашему продукту:
        </h2>

        <div class="why__items">
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/01.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Опыт и профессионализм:
              </div>
              <p class="desc3 w-item__desc">
                Наши эксперты - это опытные профессионалы с многолетним опытом
                работы в области психологии и саморазвития. Они делятся
                проверенными методиками и техниками, которые уже помогли многим
                людям.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/02.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Прозрачность и доступность:
              </div>
              <p class="desc3 w-item__desc">
                Мы открыты и честны с вами. Все материалы доступны бесплатно, и
                вы всегда можете задать вопросы и получить поддержку от наших
                специалистов.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/03.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Реальные истории успеха:
              </div>
              <p class="desc3 w-item__desc">
                Мы гордимся историями успеха наших участников. Реальные отзывы и
                примеры людей, которым помогли наши программы, являются лучшим
                доказательством их эффективности.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/04.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Поддержка и сообщество:
              </div>
              <p class="desc3 w-item__desc">
                Присоединяясь к нам, вы становитесь частью поддерживающего
                сообщества, где можно обмениваться опытом, получать советы и
                поддержку от других участников.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Безопасность и комфорт:
              </div>
              <p class="desc3 w-item__desc">
                Наши программы разработаны так, чтобы вы могли учиться в
                комфортной и безопасной обстановке, шаг за шагом преодолевая
                свои страхи и барьеры.
              </p>
            </div>
          </div>
        </div>

        <a href="#" class="why__btn btn2 btn-reset modal-btn"
          >ЗАПИСАТЬСЯ НА ЭФИР</a
        >
      </div>

      <div class="why__right">
        <div class="why__img">
          <img src="./img/why/12.webp" alt="" />
        </div>
        <div class="why__img">
          <img src="./img/why/13.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
