<section class="faq faq--sec">
  <div class="container">
    <div class="body faq__body">
      <h2 class="faq__title">
        <span class="desc1 desc1--600"
          >Почему для нас важно делиться с вами знаниями бесплатно?</span
        >
      </h2>

      <div class="faq__items">
        <div class="faq__col">
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Улучшение качества жизни:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Бесплатный доступ к знаниям по психологии и саморазвитию может
                  значительно улучшить вашу жизнь, повысить уверенность в себе и
                  помочь достичь ваших целей.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">Развитие общества:</p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Когда люди имеют доступ к знаниям, это способствует общему
                  развитию общества, повышению уровня образования и культуры.
                  Люди становятся более осознанными и ответственными.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">Устойчивое развитие:</p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Образованные люди чаще вносят вклад в устойчивое развитие
                  общества, принимают осознанные решения и участвуют в решении
                  глобальных проблем.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="faq__col">
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Социальное равенство:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Бесплатное образование способствует равенству, предоставляя
                  всем равные возможности для обучения и личного роста. Это
                  особенно важно для тех, кто не может позволить себе платные
                  курсы.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Инновации и прогресс:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Доступ к знаниям стимулирует инновации и научно-технический
                  прогресс. В области психологии это может привести к новым
                  методикам и подходам в работе с подсознанием.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
