<section class="faq">
  <div class="container">
    <div class="body faq__body">
      <h2 class="faq__title">
        <span class="desc1 desc1--600"
          >Почему сегодня мы говорим о саморазвитии ?</span
        >
        <span class="desc3"
          >Саморазвитие и личная ответственность всегда играли важную роль в
          жизни людей, но в современном мире они стали особенно актуальными по
          нескольким причнам:</span
        >
      </h2>

      <div class="faq__items">
        <div class="faq__col">
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Быстрый темп изменений
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Современный мир развивается с невероятной скоростью.
                  Технологические инновации, изменения в экономике и социальной
                  структуре требуют постоянного адаптирования. Те, кто не
                  занимается саморазвитием, могут быстро отстать и потерять
                  конкурентоспособность.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Усложнение социальных взаимодействий
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Взаимодействие с людьми стало более сложным из-за глобализации
                  и мультикультурности. Развитие навыков общения и
                  эмоционального интеллекта помогает эффективно строить и
                  поддерживать отношения.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Доступ к знаниям и ресурсам
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Никогда ранее у людей не было такого доступа к образовательным
                  ресурсам и информации. Это создает уникальные возможности для
                  личностного и профессионального роста.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Поддержка психического здоровья
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  В современном мире растет осознание важности психического
                  здоровья. Саморазвитие включает работу над эмоциональной
                  устойчивостью и психическим благополучием.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="faq__col">
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Информационная перегрузка:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Мы живем в эпоху информации, где ежедневно получаем огромные
                  объемы данных. Саморазвитие помогает развивать критическое
                  мышление и навыки анализа, чтобы эффективно справляться с
                  информационной перегрузкой и делать правильные выводы.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Повышенная стрессовая нагрузка
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Современный мир наполнен стрессовыми факторами, которые могут
                  негативно влиять на здоровье и благополучие. Саморазвитие
                  включает в себя освоение техник управления стрессом и
                  поддержания психологического здоровья.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Потребность в личной реализации
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Современные люди стремятся к самореализации и поиску смысла в
                  жизни. Саморазвитие помогает найти свой путь и достичь личных
                  целей.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="faq__bottom">
        <p class="desc3">
          Таким образом, хотя раньше люди действительно жили без современного
          понятия саморазвития и личной ответственности, сегодняшний мир с его
          вызовами и возможностями требует от нас постоянного роста и адаптации.
        </p>
      </div>
    </div>
  </div>
</section>
