<section class="get why">
  <div class="container">
    <div class="get__container why__container why__container--reverse">
      <div class="body why__body get__body">
        <h2 class="title2 why__title">
          Что Вы получите, присоединившись к проекту 2-А Online
        </h2>

        <div class="why__items">
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/check.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Укрепление уверенности в себе
              </div>
              <p class="desc3 w-item__desc">
                Проект направлен на развитие уверенности и повышение самооценки,
                что положительно влияет на все аспекты жизни.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/check.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Постоянное развитие
              </div>
              <p class="desc3 w-item__desc">
                Участие в проекте позволяет вам быть на передовой саморазвития,
                благодаря внедрению новейших методик и подходов.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/check.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Улучшение качества жизни
              </div>
              <p class="desc3 w-item__desc">
                В результате участия в проекте вы сможете достичь гармонии,
                внутреннего баланса и улучшения общего качества жизни.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/check.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Быстрое освобождение от ограничивающих убеждений
              </div>
              <p class="desc3 w-item__desc">
                Участники смогут выявить и устранить до 1000 ограничивающих
                убеждений за одну сессию, что значительно ускоряет личностный
                рост.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/check.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">Разнообразие тем</div>
              <p class="desc3 w-item__desc">
                В проекте затрагиваются разные аспекты жизни, от личностного
                роста до духовного развития, что делает его полезным для всех
                участников.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/check.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Эффективное управление временем
              </div>
              <p class="desc3 w-item__desc">
                Проект предлагает методы, которые позволяют добиваться
                значительных изменений в сжатые сроки, что особенно важно в
                условиях современного ритма жизни.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="get__items why__right">
        <div class="why__img">
          <img src="./img/get/01.webp" alt="" />
        </div>
        <div class="why__img">
          <img src="./img/get/02.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
