<section class="about-plug">
  <div class="container">
    <div class="about-plug__container">
      <div class="about-plug__body body">
        <div class="about-plug__content">
          <h2 class="about-plug__title">Добро пожаловать в 2-A Online!</h2>
          <div class="desc2">
            <p>
              Мы предлагаем вам уникальный эксперимент, который поможет вам
              изменить свою жизнь, потратив всего 5 минут в день .
            </p>
            <p>Не верите? Дайте нам шанс доказать это!</p>
          </div>
        </div>
        <a href="#" class="about-plug__link"> </a>
      </div>
      <div class="about-plug__img">
        <img src="./img/about-plug/02.webp" alt="" />
      </div>
    </div>
  </div>
</section>
