<section class="why why--echange">
  <div class="container">
    <div class="why__container why__container--reverse">
      <div class="body why__body">
        <h2 class="title2 why__title">
          Почему работа с подсознанием эффективна и не обязательно должна быть
          сложной и занимать много времени?
        </h2>

        <div class="why__items">
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/01.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Мощь подсознания:
              </div>
              <p class="desc3 w-item__desc">
                Подсознание управляет множеством наших мыслей, чувств и
                действий. Оно хранит убеждения и паттерны поведения, которые
                формируются на протяжении всей жизни. Работая с подсознанием, мы
                можем изменить глубоко укоренившиеся установки и привычки, что
                приводит к значительным позитивным изменениям.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/02.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Доступ к скрытым ресурсам:
              </div>
              <p class="desc3 w-item__desc">
                Подсознание - это хранилище наших скрытых ресурсов и потенциала.
                Даже простые упражнения могут помочь нам раскрыть и использовать
                эти ресурсы, что способствует личностному и профессиональному
                росту.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/03.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Применение простых методик:
              </div>
              <p class="desc3 w-item__desc">
                Современные методики, такие как НЛП, гипноз, медитации и
                визуализации, разработаны таким образом, чтобы быть максимально
                эффективными и не занимать много времени. Эти методики могут
                быть легко интегрированы в повседневную жизнь и выполняться за
                короткие промежутки времени.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/04.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Регулярность важнее длительности:
              </div>
              <p class="desc3 w-item__desc">
                Даже короткие, но регулярные сессии работы с подсознанием могут
                привести к значительным результатам. Например, 5 минут медитации
                или визуализации в день могут существенно улучшить ваше
                эмоциональное состояние и мышление.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">Научная основа:</div>
              <p class="desc3 w-item__desc">
                Многие техники работы с подсознанием имеют научное обоснование.
                Исследования показывают, что практики, такие как медитация,
                могут изменять структуру мозга, улучшая его функции и
                способствуя лучшему эмоциональному состоянию.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Простота выполнения:
              </div>
              <p class="desc3 w-item__desc">
                Простые задания, такие как аффирмации, визуализации или
                дыхательные упражнения, не требуют специальных навыков или
                подготовки. Они могут быть выполнены в любое время и в любом
                месте, что делает их доступными для всех.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Быстрые результаты:
              </div>
              <p class="desc3 w-item__desc">
                Поскольку подсознание работает на уровне автоматических
                процессов, изменения могут происходить довольно быстро.
                Например, регулярные позитивные аффирмации могут начать изменять
                ваше восприятие и поведение в течение нескольких недель.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="why__right">
        <div class="why__img">
          <img src="./img/change/01.webp" alt="" />
        </div>
        <div class="why__img">
          <img src="./img/change/02.webp" alt="" />
        </div>
        <div class="why__img">
          <img src="./img/change/03.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
