<section class="cta">
  <div class="container">
    <div class="cta__container">
      <div class="body cta__body">
        <h2 class="title2 cta__title">Готовы изменить свою жизнь ?</h2>

        <div class="cta__content">
          <p class="cta__subtitle">
            Присоединяйтесь к эксперименту над собой с 2-А Online прямо сейчас!
          </p>
          <p class="desc3 cta__desc">
            Начните путь к позитивному мышлению и успеху с 2-А Online. Всего 5
            минут в день для значительных изменений. Присоединяйтесь к нам всего
            за 1000 рублей в месяц и получите доступ к уникальным методикам и
            поддержке сообщества.
          </p>
        </div>

        <a href="#" class="cta__btn btn2 btn-reset"
          >ВОСПОЛЬЗОВАТЬСЯ ПРЕДЛОЖЕНИЯМ
        </a>
      </div>

      <div class="cta__img">
        <img src="./img/cta/03.webp" alt="" />
      </div>
    </div>
  </div>
</section>
