<section class="explain">
  <div class="container">
    <div class="explain__container">
      <div class="explain__img">
        <img src="./img/explain/01.webp" alt="" />
      </div>

      <div class="explain__content body">
        <h2 class="title2 explain__title">
          Почему работа с подсознанием эффективна ?
        </h2>
        <p class="explain__desc desc3">
          Работа с подсознанием может быть невероятно эффективной и при этом не
          требовать значительных временных затрат. Простые и регулярные практики
          могут привести к глубоким и устойчивым изменениям в вашей жизни.
          Главное - это регулярность и готовность открыться новому опыту.
          Присоединяйтесь к нашему эксперименту, и вы увидите, как маленькие
          шаги могут привести к большим переменам!
        </p>

        <a href="#" class="btn2 btn-reset explain__btn">
          ПРИСОЕДИНИТЬСЯ К ЭКСПЕРИМЕНТУ
        </a>
      </div>
    </div>
  </div>
</section>
