<section class="faq faq--gr-thr">
  <div class="container">
    <div class="body faq__body">
      <h2 class="faq__title">
        <span class="desc1 desc1--600">Доступность и разумная цена</span>
      </h2>

      <div class="faq__items">
        <div class="faq__col">
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Доступность для всех:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Наша цель - сделать саморазвитие доступным для как можно
                  большего числа людей. Цена в 1000 рублей в месяц позволяет
                  МНОГИМ ЛЮДЯМ присоединиться к группе, независимо от их
                  финансового положения. Мы стремимся к социальному равенству и
                  хотим, чтобы каждый имел возможность улучшить свою жизнь.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Привлечение широкой аудитории:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Низкая цена помогает нам привлечь больше участников и создать
                  активное и разнообразное сообщество. Чем больше людей
                  присоединяется к группе, тем больше возможностей для обмена
                  опытом и вдохновения.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Эффективное использование ресурсов:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Мы оптимизировали наши процессы и методики так, чтобы
                  предоставить вам максимум пользы за минимальную цену. Это не
                  значит, что наша группа менее ценна - мы просто умеем работать
                  эффективно.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">Разумные инвестиции:</p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  1000 рублей в месяц - это разумная инвестиция в ваше будущее.
                  Вложив эту сумму в саморазвитие, вы получите многократно
                  больше в виде улучшенного настроения, уверенности в себе,
                  новых навыков и возможностей.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">Гибкость и удобство:</p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  За эту цену вы получаете доступ к гибкой и удобной программе,
                  которую легко интегрировать в повседневную жизнь. Это делает
                  участие в группе комфортным и необременительным.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="faq__col">
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Высокая ценность за доступную цену:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Мы предлагаем высококачественные методики и поддержку за
                  разумные деньги. Это отличный вариант для тех, кто хочет
                  получить доступ к эффективным техникам и сообществу
                  единомышленников, не переплачивая.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Долгосрочная поддержка:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  1000 рублей в месяц - это стоимость регулярной поддержки и
                  мотивации. Мы предлагаем не одноразовый курс, а постоянное
                  участие в группе, что позволяет вам расти и развиваться на
                  протяжении длительного времени.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">Активное сообщество:</p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  В группе вы найдете людей, которые, как и вы, стремятся к
                  самосовершенствованию. Совместная работа и обмен опытом делают
                  процесс обучения более эффективным и приятным.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                Демократичность и открытость:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Низкая цена делает нашу группу демократичной и открытой для
                  всех, кто стремится к улучшению своей жизни. Мы верим, что
                  знания и поддержка должны быть доступны каждому.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
