<section class="faq faq--gr-sec">
  <div class="container">
    <div class="body faq__body">
      <h2 class="faq__title">
        <span class="desc1 desc1--600"
          >Почему участие в группе "2-А Online" - это круто и совершенно
          нормально?</span
        >
      </h2>

      <div class="faq__items">
        <div class="faq__col">
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                1. Тренд на саморазвитие:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  В современном мире саморазвитие стало трендом. Успешные люди,
                  знаменитости и лидеры мнений активно занимаются личностным
                  ростом и публично делятся своими успехами. Присоединяясь к
                  нашей группе, вы становитесь частью этого глобального
                  движения.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                3. Современные и проверенные методики:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Мы используем инновационные методики на основе НЛП и
                  психологии, которые доказали свою эффективность. Эти техники
                  признаны и используются профессионалами по всему миру, что
                  подтверждает их надежность и пользу.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                5. Признание и успех участников:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Реальные истории успеха наших участников подтверждают, что
                  участие в группе приносит реальные результаты. Вы будете не
                  одиноки в своих достижениях и сможете делиться успехами с
                  другими, получая заслуженное признание.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                7. Эмоциональная устойчивость и поддержка:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  В группе вы найдете не только знания, но и эмоциональную
                  поддержку. Наши участники помогают друг другу справляться с
                  трудностями и мотивируют на пути к успеху.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                9. Потребность в личной ответственности:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Современное общество требует от нас осознанности и
                  ответственности за свои действия. Работа с подсознанием
                  способствует развитию осознанности, что помогает принимать
                  более обоснованные и ответственные решения.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                11. Личностный и профессиональный рост:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Участие в группе помогает не только в личностном, но и в
                  профессиональном росте. Вы научитесь лучше справляться с
                  задачами, улучшите навыки общения и лидерства, что
                  положительно скажется на вашей карьере.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="faq__col">
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                2. Поддержка единомышленников:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  В группе "2-А Online" вы найдете таких же людей, стремящихся к
                  улучшению своей жизни. Это сообщество объединяет
                  мотивированных и амбициозных участников, которые поддерживают
                  друг друга и делятся опытом. Вместе вы сможете достигать новых
                  высот.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                4. Доступность и удобство:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Наши задания легко интегрируются в повседневную жизнь и
                  занимают всего 5 минут в день. Это удобно и позволяет
                  достигать значительных изменений без больших затрат времени и
                  усилий.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                6. Развитие уверенности и самоуважения:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Участие в нашей группе поможет вам развить уверенность в себе
                  и повысить самооценку. Вы почувствуете себя сильнее и
                  увереннее в своих силах, что отразится на всех сферах вашей
                  жизни.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                8. Примеры успешных людей:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Многие успешные люди начинали с участия в подобных группах и
                  курсах. Это нормальная практика для тех, кто стремится к
                  самосовершенствованию и не боится инвестировать время в свое
                  развитие.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                10. Глобализация и культурное разнообразие:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  Глобализация приводит к столкновению с различными культурами и
                  мировоззрениями. Работа с подсознанием помогает развить
                  толерантность и понимание, что важно для эффективного
                  взаимодействия в мультикультурной среде.
                </p>
              </div>
            </div>
          </div>
          <div class="faq__item f-item">
            <div class="f-item__header">
              <div class="f-item__btn">
                <svg
                  width="26"
                  height="16"
                  viewBox="0 0 26 16"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M26.0008 13.2295C26.0008 13.705 25.8193 14.1799 25.4573 14.543C24.7321 15.2682 23.5561 15.2682 22.8308 14.543L13.0008 4.71314L3.17138 14.543C2.44615 15.2682 1.2701 15.2682 0.544901 14.543C-0.180332 13.8178 -0.180332 12.6418 0.544901 11.9165L11.6878 0.773687C12.4131 0.0484762 13.5891 0.0484762 14.3143 0.773687L25.4573 11.9165C25.8193 12.2791 26.0008 12.7541 26.0008 13.2295Z"
                    fill="white"
                  />
                </svg>
              </div>
              <p class="f-item__quest desc1 desc1--600">
                12. Позитивная атмосфера и вдохновение:
              </p>
            </div>
            <div class="f-item__body">
              <div class="f-item__content">
                <p class="desc3">
                  В нашей группе царит позитивная и вдохновляющая атмосфера. Вы
                  будете окружены людьми, которые стремятся к лучшему и готовы
                  поддерживать вас на этом пути.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
