<section class="why why--group">
  <div class="container">
    <div class="why__container">
      <div class="body why__body">
        <h2 class="title2 why__title">
          Что вы получите, присоединившись к эксперименту?
        </h2>

        <div class="why__items">
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/01.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Улучшение настроения:
              </div>
              <p class="desc3 w-item__desc">
                Позитивное мышление помогает ежедневно улучшать настроение.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/02.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Простота выполнения:
              </div>
              <p class="desc3 w-item__desc">
                Задания не требуют специальных навыков или подготовки.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/03.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Быстрые изменения:
              </div>
              <p class="desc3 w-item__desc">
                Заметные улучшения в жизни всего за несколько минут в день.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/04.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Уверенность в себе:
              </div>
              <p class="desc3 w-item__desc">
                Избавление от страхов и неуверенности.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Развитие потенциала:
              </div>
              <p class="desc3 w-item__desc">
                Помощь в раскрытии личного потенциала.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Постоянная мотивация:
              </div>
              <p class="desc3 w-item__desc">
                Ежедневные задания поддерживают высокий уровень мотивации.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Эмоциональная устойчивость:
              </div>
              <p class="desc3 w-item__desc">
                Улучшение эмоционального состояния и повышение устойчивости к
                стрессам.
              </p>
            </div>
          </div>
        </div>

        <a href="#" class="why__btn btn2 btn-reset modal-btn"
          >НАЧАТЬ ПУТЬ К ИЗМЕНЕНИЯМ</a
        >
      </div>

      <div class="why__right">
        <div class="why__img">
          <img src="./img/why/03.webp" alt="" />
        </div>
        <div class="why__img">
          <img src="./img/why/04.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
