<section class="why why--prob">
  <div class="container">
    <div class="why__container why__container--reverse">
      <div class="body why__body">
        <h2 class="title2 why__title">Какие проблемы мы помогаем решить ?</h2>

        <div class="why__items">
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/01.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Отсутствие времени на саморазвитие:
              </div>
              <p class="desc3 w-item__desc">
                Всего 5 минут в день для значительных изменений. Эффективные
                задания, не отвлекающие от повседневных дел.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/02.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Негативное мышление и плохое настроение:
              </div>
              <p class="desc3 w-item__desc">
                Переключись в позитивное мышление и получи стратегии успеха.
                Позитивное мышление помогает ежедневно улучшать настроение.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/03.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Отсутствие поддержки и мотивации:
              </div>
              <p class="desc3 w-item__desc">
                Поддержка и вдохновение от активного сообщества в Telegram.
                Ежедневные задания поддерживают высокий уровень мотивации.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/04.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Нехватка уверенности в себе и наличие страхов:
              </div>
              <p class="desc3 w-item__desc">
                Избавление от страхов и неуверенности. Улучшение эмоционального
                состояния и повышение устойчивости к стрессам.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Ограниченность в методах личностного роста:
              </div>
              <p class="desc3 w-item__desc">
                Инновационные методики на основе НЛП и психологии. Простота
                выполнения: задания не требуют специальных навыков или
                подготовки
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="why__right">
        <div class="why__img">
          <img src="./img/why/14.webp" alt="" />
        </div>
        <div class="why__img">
          <img src="./img/why/15.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
