<section class="why why--what">
  <div class="container">
    <div class="why__container">
      <div class="body why__body">
        <h2 class="title2 why__title">Что говорят об этом эксперты ?</h2>

        <div class="why__items">
          <div class="why__item w-item">
            <div class="w-item__icon w-item__icon--fig">
              <svg
                width="15"
                height="33"
                viewBox="0 0 15 33"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.767918 23.8228L0 23.4555C0.102389 23.3178 7.73038 10.325 7.73038 0.5H15V32.5H7.73038V6.92755C5.68259 15.3752 0.819113 23.6851 0.767918 23.8228Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                "Даже самые маленькие шаги ведут к большим переменам. Важно не
                количество времени, а регулярность и осознанность действий."
              </div>
              <p class="desc3 w-item__desc">
                - Стивен Кови "7 навыков высокоэффективных людей"
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon w-item__icon--fig">
              <svg
                width="24"
                height="30"
                viewBox="0 0 24 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 9.15612C0 2.65823 4.94118 0 11.9118 0C20.8235 0 23.9118 3.08017 23.9118 9.53586C23.9118 15.5696 15.7941 17.7215 10.8088 19.3671C7.45588 20.4641 4.72059 21.3924 3.22059 24.0084H24V30H1.23529C1.23529 21.8143 5.33823 20.4219 10.5882 18.692C16.0588 16.8776 17.5588 15.5696 17.5588 9.53586C17.5588 3.33333 15.5294 0.675104 11.9118 0.675104C6.30882 0.675104 6.66176 5.73839 6.66176 9.74683L0 9.15612Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                "Мысли, как и цветы, нужно регулярно поливать и ухаживать за
                ними, чтобы они расцветали."
              </div>
              <p class="desc3 w-item__desc">
                - Луиза Хей "Ты можешь исцелить свою жизнь"
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon w-item__icon--fig">
              <svg
                width="24"
                height="30"
                viewBox="0 0 24 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0 24.6768L0.521739 24.3466C2.8323 27.978 6.74534 29.2985 9.57764 29.2985C16.2857 29.2985 17.8882 26.6575 17.8882 21.293C17.8882 16.0935 16.3602 14.2779 10.9565 14.2779H9.0559V13.5763C13.7143 13.5763 16.2112 13.5351 16.2112 7.13893C16.2112 2.22834 15.764 0.660246 11.1429 0.660246C6.2236 0.660246 6.70807 5.6121 6.70807 9.53232L1.22981 8.45942C1.22981 2.72352 5.14286 0 11.1429 0C18.2981 0 21.9503 1.81568 21.9503 7.13893C21.9503 12.2146 18.2609 13.0812 15.2422 13.7001C19.6398 13.7001 24 16.5062 24 21.293C24 29.0096 19.118 30 9.57764 30C6.67081 30 2.19876 28.5557 0 24.6768Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                "Сила в единстве. Когда у тебя есть поддержка и сообщество
                единомышленников, твой путь к успеху становится легче и
                приятнее."
              </div>
              <p class="desc3 w-item__desc">
                - Брене Браун "Дары несовершенства"
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon w-item__icon--fig">
              <svg
                width="28"
                height="30"
                viewBox="0 0 28 30"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.5416 25.0933H0V24.4046C1.80645 24.4046 6.08489 20.4017 10.1732 14.9354C13.7385 10.2439 17.5416 3.8307 17.5416 0H24.292V24.4046H28V25.0933H24.292V30H17.5416V25.0933ZM1.9966 24.4046H17.5416V3.78766C15.4499 9.64132 7.65365 20.9613 1.9966 24.4046Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                "Уверенность - это способность верить в себя и свои силы, даже
                когда никто другой в это не верит."
              </div>
              <p class="desc3 w-item__desc">
                - Норман Винсент Пил "Сила позитивного мышления"
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon w-item__icon--fig">
              <svg
                width="22"
                height="32"
                viewBox="0 0 22 32"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M7.3617 32C3.78723 32 1.19149 30.956 0 30.366L0.212766 29.7305C1.3617 30.3206 3.78723 31.3645 7.3617 31.3645C12.7234 31.3645 15.7872 29.2766 15.7872 19.7447C15.7872 12.2099 14.5106 8.71489 9.91489 8.71489C3.53191 8.71489 2.29787 13.7986 1.02128 19.2454H0.297872L1.53191 0H19.3617V6.4H1.82979L1.2766 15.4326C2.85106 10.2128 5.3617 8.07943 9.87234 8.07943C16.0426 8.07943 22 10.2128 22 19.7447C22 31.4099 14.2979 32 7.3617 32Z"
                  fill="white"
                />
              </svg>
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                "Каждый человек обладает безграничным потенциалом для роста и
                развития. Главное - найти подходящие инструменты и использовать
                их."
              </div>
              <p class="desc3 w-item__desc">
                - Энтони Роббинс "Пробуди в себе исполина"
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="why__right">
        <div class="why__img">
          <img src="./img/what/01.webp" alt="" />
        </div>
        <div class="why__img">
          <img src="./img/what/02.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
