<header class="header">
  <div class="header__container">
    <a href="./" class="header__logo">
      <img src="./img/logo.svg" alt="" />
    </a>
    <div class="header__right">
      <nav class="header__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item nav__item--drop">
            <a href="#" class="nav__link">Продукты</a>
            <div class="nav__wrapper">
              <ul>
                <li><a href="#">Эфиры</a></li>
                <li><a href="#">Экспериментальная группа</a></li>
                <li><a href="#">Проработки</a></li>
                <li><a href="#">Клуб “Моя жизнь”</a></li>
                <li><a href="#">Экстернат</a></li>
                <li><a href="#">Продвинутая группа</a></li>
              </ul>
            </div>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Полезные материалы</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Расписание</a>
          </li>
        </ul>
      </nav>
      <div class="header__wrap">
        <a href="#" class="header__btn modal-btn"> Написать нам </a>
      </div>
    </div>

    <div class="header__burger">
      <div class="line"></div>
    </div>
  </div>
  @include('menu.html')
</header>
