<section class="offer">
  <div class="container">
    <div class="offer__body body">
      <h2 class="title2 offer__title">Что мы предлагаем</h2>

      <div class="offer__items">
        <div class="offer__item o-item">
          <div class="o-item__img">
            <img src="./img/offer/01.webp" alt="" />
          </div>
          <div class="o-item__content">
            <div class="o-item__title desc1 desc1--600">Бесплатные эфиры</div>
            <div class="o-item__subtitle desc2 desc2--600">
              Каждый вторник и четверг в 20:00 по Мск
            </div>
            <p class="desc3 o-item__desc">
              Бесплатные эфиры 2-А Online — это уникальная возможность получить
              доступ к ценным знаниям и инструментам саморазвития. Наши эфиры
              направлены на преодоление внутренних барьеров, развитие
              уверенности и улучшение качества жизни. Присоединяйтесь и начните
              свой путь к личностному росту!
            </p>
            <a href="#" class="btn2 o-item__btn">ПОДРОБНЕЕ</a>
          </div>
        </div>
        <div class="offer__item o-item">
          <div class="o-item__img">
            <img src="./img/offer/02.webp" alt="" />
          </div>
          <div class="o-item__content">
            <div class="o-item__title desc1 desc1--600">
              Экспериментальная группа
            </div>
            <div class="o-item__subtitle desc2 desc2--600">
              5 минут в день для твоего благополучия
            </div>
            <p class="desc3 o-item__desc">
              Мы предлагаем уникальный эксперимент, который поможет вам изменить
              свою жизнь, потратив всего 5 минут в день. Простые и регулярные
              практики могут привести к глубоким и устойчивым изменениям в вашей
              жизни. Главное - это регулярность и готовность открыться новому
              опыту. Присоединяйтесь к нашему эксперименту, и вы увидите, как
              маленькие шаги могут привести к большим переменам!
            </p>
            <a href="#" class="btn2 o-item__btn">ПОДРОБНЕЕ</a>
          </div>
        </div>
        <div class="offer__item o-item">
          <div class="o-item__img">
            <img src="./img/offer/03.webp" alt="" />
          </div>
          <div class="o-item__content">
            <div class="o-item__title desc1 desc1--600">
              Групповые проработки
            </div>
            <div class="o-item__subtitle desc2 desc2--600">
              Избавление от ограничивающих убеждений
            </div>
            <p class="desc3 o-item__desc">
              Групповые проработки 2-А Online - это сессии, которые помогают
              быстро и эффективно устранить ограничивающие убеждения. Работая в
              состоянии глубокого транса, участники получают доступ к своему
              подсознанию, что позволяет достичь значительных изменений за
              короткое время.
            </p>
            <a href="#" class="btn2 o-item__btn">ПОДРОБНЕЕ</a>
          </div>
        </div>
        <div class="offer__item o-item">
          <div class="o-item__img">
            <img src="./img/offer/04.webp" alt="" />
          </div>
          <div class="o-item__content">
            <div class="o-item__title desc1 desc1--600">Клуб "Моя жизнь"</div>
            <div class="o-item__subtitle desc2 desc2--600">
              Сообщество для тех, кто хочет изменить свою жизнь
            </div>
            <p class="desc3 o-item__desc">
              Клуб «Моя жизнь» - это сообщество для тех, кто стремится к
              личностному и духовному развитию. Наши участники получают доступ к
              уникальным методикам, регулярным занятиям и постоянной поддержке.
              Это идеальная среда для тех, кто хочет изменить свою жизнь к
              лучшему и достичь гармонии.
            </p>
            <a href="#" class="btn2 o-item__btn">ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
