<section class="sch-tt">
  <div class="container sch-tt__block">
    <div class="body sch-tt__body">
      <h2 class="sch-tt__title title2">Сентябрь</h2>

      <div class="sch-tt__table">
        <div class="sch-tt__row">
          <div class="sch-tt__wrapper">
            <div class="sch-tt__item sch-tt__item--head sch-item">
              Дата
              <div class="sch-item__icon">
                <img src="./img/date.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="sch-tt__wrapper">
            <div class="sch-tt__item sch-tt__item--head sch-item">
              Город
              <div class="sch-item__icon">
                <img src="./img/city.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="sch-tt__wrapper">
            <div class="sch-tt__item sch-tt__item--head sch-item">
              Курс
              <div class="sch-item__icon">
                <img src="./img/course.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="sch-tt__wrapper">
            <div class="sch-tt__item sch-tt__item--head sch-item">
              Подробнее

              <div class="sch-item__icon">
                <img src="./img/more.svg" alt="" />
              </div>
            </div>
          </div>

          <div class="sch-tt__wrapper">
            <div class="sch-tt__item sch-tt__item--head sch-item">
              Регистрация
              <div class="sch-item__icon">
                <img src="./img/register.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="sch-tt__row">
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Дата
                <div class="sch-item__icon">
                  <img src="./img/date.svg" alt="" />
                </div>
              </div>
            </div>
            10 сентября
          </div>
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Город
                <div class="sch-item__icon">
                  <img src="./img/city.svg" alt="" />
                </div>
              </div>
            </div>
            Онлайн
          </div>
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Курс
                <div class="sch-item__icon">
                  <img src="./img/course.svg" alt="" />
                </div>
              </div>
            </div>
            Бесплатный эфир на тему ,,Страх ответственности”
          </div>
          <div class="sch-tt__item sch-item sch-item__more sch-item--oth">
            Подробнее

            <div class="tooltip" role="tooltip">
              <div class="tooltip__wrapper">
                <div class="desc2 tooltip__desc">
                  Я понимаю, что сделать первый шаг на пути саморазвития может
                  быть страшно. Вы можете сомневаться, стоит ли доверять
                  бесплатному продукту и будут ли эти знания действительно
                  полезными. Позвольте мне рассказать вам, почему наш продукт
                  заслуживает вашего доверия и как он может помочь вам.
                </div>
                <div class="tooltip__arrow">
                  <div class="tooltip__arrow-inside"></div>
                </div>
              </div>
            </div>
          </div>
          <btn
            class="btn-reset sch-tt__item sch-item sch-item__btn sch-item--oth"
          >
            Регистрация
          </btn>
        </div>
        <div class="sch-tt__row">
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Дата
                <div class="sch-item__icon">
                  <img src="./img/date.svg" alt="" />
                </div>
              </div>
            </div>
            10 сентября
          </div>
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Город
                <div class="sch-item__icon">
                  <img src="./img/city.svg" alt="" />
                </div>
              </div>
            </div>
            Онлайн
          </div>
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Курс
                <div class="sch-item__icon">
                  <img src="./img/course.svg" alt="" />
                </div>
              </div>
            </div>
            Бесплатный эфир на тему ,,Страх ответственности”
          </div>
          <div class="sch-tt__item sch-item sch-item__more sch-item--oth">
            Подробнее

            <div class="tooltip" role="tooltip">
              <div class="tooltip__wrapper">
                <div class="desc2 tooltip__desc">
                  Я понимаю, что сделать первый шаг на пути саморазвития может
                  быть страшно. Вы можете сомневаться, стоит ли доверять
                  бесплатному продукту и будут ли эти знания действительно
                  полезными. Позвольте мне рассказать вам, почему наш продукт
                  заслуживает вашего доверия и как он может помочь вам.
                </div>
                <div class="tooltip__arrow">
                  <div class="tooltip__arrow-inside"></div>
                </div>
              </div>
            </div>
          </div>
          <btn
            class="btn-reset sch-tt__item sch-item sch-item__btn sch-item--oth"
          >
            Регистрация
          </btn>
        </div>
        <div class="sch-tt__row">
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Дата
                <div class="sch-item__icon">
                  <img src="./img/date.svg" alt="" />
                </div>
              </div>
            </div>
            10 сентября
          </div>
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Город
                <div class="sch-item__icon">
                  <img src="./img/city.svg" alt="" />
                </div>
              </div>
            </div>
            Онлайн
          </div>
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Курс
                <div class="sch-item__icon">
                  <img src="./img/course.svg" alt="" />
                </div>
              </div>
            </div>
            Бесплатный эфир на тему ,,Страх ответственности”
          </div>
          <div class="sch-tt__item sch-item sch-item__more sch-item--oth">
            Подробнее

            <div class="tooltip" role="tooltip">
              <div class="tooltip__wrapper">
                <div class="desc2 tooltip__desc">
                  Я понимаю, что сделать первый шаг на пути саморазвития может
                  быть страшно. Вы можете сомневаться, стоит ли доверять
                  бесплатному продукту и будут ли эти знания действительно
                  полезными. Позвольте мне рассказать вам, почему наш продукт
                  заслуживает вашего доверия и как он может помочь вам.
                </div>
                <div class="tooltip__arrow">
                  <div class="tooltip__arrow-inside"></div>
                </div>
              </div>
            </div>
          </div>
          <btn
            class="btn-reset sch-tt__item sch-item sch-item__btn sch-item--oth"
          >
            Регистрация
          </btn>
        </div>
        <div class="sch-tt__row">
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Дата
                <div class="sch-item__icon">
                  <img src="./img/date.svg" alt="" />
                </div>
              </div>
            </div>
            10 сентября
          </div>
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Город
                <div class="sch-item__icon">
                  <img src="./img/city.svg" alt="" />
                </div>
              </div>
            </div>
            Онлайн
          </div>
          <div class="sch-tt__item sch-item">
            <div class="sch-tt__wrapper sch-item__head">
              <div class="sch-tt__item sch-tt__item--head sch-item">
                Курс
                <div class="sch-item__icon">
                  <img src="./img/course.svg" alt="" />
                </div>
              </div>
            </div>
            Бесплатный эфир на тему ,,Страх ответственности”
          </div>
          <div class="sch-tt__item sch-item sch-item__more sch-item--oth">
            Подробнее

            <div class="tooltip" role="tooltip">
              <div class="tooltip__wrapper">
                <div class="desc2 tooltip__desc">
                  Я понимаю, что сделать первый шаг на пути саморазвития может
                  быть страшно. Вы можете сомневаться, стоит ли доверять
                  бесплатному продукту и будут ли эти знания действительно
                  полезными. Позвольте мне рассказать вам, почему наш продукт
                  заслуживает вашего доверия и как он может помочь вам.
                </div>
                <div class="tooltip__arrow">
                  <div class="tooltip__arrow-inside"></div>
                </div>
              </div>
            </div>
          </div>
          <btn
            class="btn-reset sch-tt__item sch-item sch-item__btn sch-item--oth"
          >
            Регистрация
          </btn>
        </div>
      </div>
    </div>
  </div>
</section>
