<section class="spec-offer">
  <div class="container">
    <div class="body spec-offer__container">
      <h2 class="title2 spec-offer__title">СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ</h2>

      <div class="spec-offer__content">
        <div class="spec-offer__text">
          <div class="spec-offer__subtitle">
            Оплати годовой абонемент в
            <span>ЭКСПЕРИМЕНТАЛЬНУЮ ГРУППУ</span>
            и получи скидку 50 %
          </div>
          <div class="spec-offer__cost">
            <span class="desc2">Стоимость абонемента со скидкой :</span>
            <div class="spec-offer__price">
              <p class="spec-offer__old">12 000р.</p>
              <p class="spec-offer__current">
                6 000р.
              </p>
            </div>
          </div>
          <a href="#" class="spec-offer__btn btn2 btn-reset">ВОСПОЛЬЗОВАТЬСЯ ПРЕДЛОЖЕНИЯМ</a>
        </div>

        <div class="spec-offer__time" data-time="2024-12-31">
          <div class="spec-offer__numbs timer__hours">
            <span><span>0</span></span>
            <span><span>0</span></span>
          </div>
          <div class="spec-offer__numbs timer__minutes">
            <span><span>0</span></span>
            <span><span>0</span></span>
          </div>
          <div class="spec-offer__numbs timer__seconds">
            <span><span>0</span></span>
            <span><span>0</span></span>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>