<section class="team">
  <div class="container">
    <div class="body">
      <h2 class="team__title title2">О нас</h2>

      <div class="team__items">
        <article class="team__item t-item">
          <div class="t-item__img">
            <img src="./img/team/01.webp" alt="" />
          </div>

          <div class="t-item__content">
            <div class="t-item__name desc2 desc2--600">Артём Федюшин</div>
            <p class="desc3 t-item__desc">
              Работа с подсознанием может быть невероятно эффективной и при этом
              не требовать значительных временных затрат. Простые и регулярные
              практики могут привести к глубоким и устойчивым изменениям в вашей
              жизни. Главное - это регулярность и готовность открыться новому
              опыту. Присоединяйтесь к нашему эксперименту, и вы увидите, как
              маленькие шаги могут привести к большим переменам! Главное - это
              регулярность и готовность открыться новому опыту. Присоединяйтесь
              к нашему эксперименту, и вы увидите, как маленькие шаги могут
              привести к большим переменам!
            </p>
          </div>
        </article>

        <article class="team__item t-item">
          <div class="t-item__img">
            <img src="./img/team/01.webp" alt="" />
          </div>

          <div class="t-item__content">
            <div class="t-item__name desc2 desc2--600">Артём Панфилов</div>
            <p class="desc3 t-item__desc">
              Работа с подсознанием может быть невероятно эффективной и при этом
              не требовать значительных временных затрат. Простые и регулярные
              практики могут привести к глубоким и устойчивым изменениям в вашей
              жизни. Главное - это регулярность и готовность открыться новому
              опыту. Присоединяйтесь к нашему эксперименту, и вы увидите, как
              маленькие шаги могут привести к большим переменам! Главное - это
              регулярность и готовность открыться новому опыту. Присоединяйтесь
              к нашему эксперименту, и вы увидите, как маленькие шаги могут
              привести к большим переменам!
            </p>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
