<section class="testi">
  <div class="container">
    <div class="body">
      <div class="testi__header">
        <h2 class="testi__title title3">Истории успеха наших участников</h2>
        <p class="subtitle2 testi__subtitle">
          Узнайте, как наши техники помогли другим достичь успеха и изменений в
          жизни. Реальные истории и отзывы участников.
        </p>
      </div>
      <div class="testi__container">
        <div class="swiper testi__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide testi__slide">
              <img src="./img/testi/01.webp" alt="" />
            </div>
            <div class="swiper-slide testi__slide">
              <img src="./img/testi/02.webp" alt="" />
            </div>
            <div class="swiper-slide testi__slide">
              <img src="./img/testi/01.webp" alt="" />
            </div>
            <div class="swiper-slide testi__slide">
              <img src="./img/testi/02.webp" alt="" />
            </div>
          </div>
        </div>
        <div class="testi__control control">
          <div class="control__btn control__btn--prev testi-prev">
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow-control"></use>
            </svg>
          </div>
          <div class="control__btn control__btn--next testi-next">
            <svg class="">
              <use xlink:href="img/sprite.svg#arrow-control"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="testi__bottom">
        <a href="#" class="btn2 btn-reset testi__btn"
          >БОЛЬШЕ ОТЗЫВОВ В TELEGRAM</a
        >
      </div>
    </div>
  </div>
</section>
