<section class="why">
  <div class="container">
    <div class="why__container">
      <div class="body why__body">
        <h2 class="title2 why__title">
          Проект 2-А Online уникален! И вот почему:
        </h2>

        <div class="why__items">
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/01.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Глубокая работа с подсознанием
              </div>
              <p class="desc3 w-item__desc">
                Проект направлен на глубокую трансформацию подсознательных
                установок, что позволяет участникам достичь значительных
                изменений в короткие сроки.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/02.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Коллективный формат
              </div>
              <p class="desc3 w-item__desc">
                Работа в группах усиливает эффект проработок, благодаря
                синергетическому взаимодействию участников и обмену опытом.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/03.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Сообщество единомышленников
              </div>
              <p class="desc3 w-item__desc">
                Проект создает поддерживающую среду, где участники могут
                делиться опытом, получать поддержку и вдохновение от других.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/04.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Быстрые результаты
              </div>
              <p class="desc3 w-item__desc">
                Проект предлагает эффективные методы, которые заменяют месяцы
                работы с психологом за счет интенсивных и целенаправленных
                сессий.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/05.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Доступность онлайн
              </div>
              <p class="desc3 w-item__desc">
                Участие в проекте возможно из любой точки мира благодаря
                онлайн-формату, что позволяет гибко планировать время для
                занятий.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/06.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">Запись сессий</div>
              <p class="desc3 w-item__desc">
                Все сессии записываются, что дает возможность участникам
                пересматривать материал и углублять проработку в удобное время.
              </p>
            </div>
          </div>
          <div class="why__item w-item">
            <div class="w-item__icon">
              <img src="./img/icons/07.svg" alt="" />
            </div>
            <div class="w-item__content">
              <div class="w-item__title desc1 desc1--600">
                Простота выполнения
              </div>
              <p class="desc3 w-item__desc">
                Простые задания, такие как аффирмации, визуализации или
                дыхательные упражнения, не требуют специальных навыков или
                подготовки. Они могут быть выполнены в любое время и в любом
                месте, что делает их доступными для всех.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="why__right">
        <div class="why__img">
          <img src="./img/why/01.webp" alt="" />
        </div>
        <div class="why__img">
          <img src="./img/why/02.webp" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
